body{
    background-color:gray;
    
}

*{
    font-family: 'Noto Serif KR', serif;
}

/* h1{
    font-weight: 900;
    font-size: 30px;
} */

#cont{
    background-color: whitesmoke;
    width: 95%;
    text-align: center;
}